@font-face {
    font-family: "Honk";
    src: url(./fonts/Honk-Regular-VariableFont_MORF\,SHLN.ttf) format("truetype");
}

@font-face {
    font-family: "Jersey";
    src: url(./fonts/Jersey15-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Quantico";
    src: url(./fonts/Jersey15-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Orbitron";
    src: url(./fonts/Orbitron-Regular.ttf) format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Orbitron", sans-serif;
    font-weight: 100;
}

html,
body {
    height: 100%;
}

.hidden {
    display: none !important;
}

button {
    cursor: pointer;
    transition: transform 0.1s ease,
                box-shadow 0.1s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2)
}

/* overall definition */





/* main structure */
body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

header {
    height: clamp(160px, 16%, 320px);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    min-height: 0;
    background-color: rgb(185, 185, 185);
    overflow: hidden;
}

footer {
    height: 50px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    font-family: 'Honk', sans-serif;
    color: white;
    font-size: 6rem;
}




/* user name input dialog */
#user-name-input-dialog,
#user-win-dialog,
#robot-win-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid grey;
    width: 180px;
}

#user-name-input-dialog {
    border-radius: 8px;
    font-size: 12px;
}

#user-name-input-form {
    height: 100%;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

#user-name-input {
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    height: 24px;
}

#input-name-btn {
    height: 24px;
    padding: 4px;
}

#user-win-dialog[open],
#robot-win-dialog[open] {
    height: 120px;
    border-radius: 5px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#you-win,
#you-lose {
    font-size: 24px;
}

#win-play-again-btn,
#lose-play-again-btn {
    padding: 5px 8px;
}




/* PAGE: Place Ships Page */
#page-place-ships {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#place-ship-page-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    gap: 48px;
}

#ships-container {
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 270px;
}

.ship-placed {
    background-color: rgba(0, 119, 190, 0.8);
}

#ships-container > img {
    flex: 1;
}

#play-battle-btn {
    padding: 10px 12px;
    font-size: 18px;
}

/* indicator */
#indicator-container,
#indicator-container-2 {
    height: 48px;
    width: 800px;
    background-color: rgb(131, 217, 131);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
    box-shadow: 0 0 4px red;
    margin-top: 36px;
    margin-bottom: 36px;
}

#place-ships-indicator,
#battle-indicator {
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    margin-left: 8px;
}


/* PAGE: battle page */

#page-play-battle {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#user-gameboard-wrapper,
#robot-gameboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-gameboard-title,
#robot-gameboard-title {
    padding: 4px 0;
    margin-bottom: 4px;
    font-size: 24px;
}

/* gameboard container */
#gameboards-container {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

#user-gameboard-container,
#robot-gameboard-container,
#place-ships-gameboard-container  
{
    height: 300px;
    aspect-ratio: 1;
    background-color: grey;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

/* gameboard cell */
.gameboard-row {
    flex: 1;
    /* border: 1px dotted blue; */
    display: flex;
}

.cell {
    flex: 1;
    border: 1px dotted pink;
    position: relative;
    overflow: visible;
}

.place-ship-img {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
    display: block;
    max-width: none;
    object-fit: fill;
    object-position: center;
}

.empty,
.ship-hit {
    background-color: rgba(0, 119, 190, 0.8);
}


.hit-img {
    height: 100%;
    width: 100%;
    z-index: 5;
}

.miss-img {
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: rgba(0, 119, 190, 0.8);

}


/* footer */
footer p {
    text-align: center;
}